@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="text-center mt-5">
    <h1 class="text-danger"><i class="bi bi-exclamation-triangle"></i> Lỗi 403</h1>
    <h2>Bạn không có quyền truy cập vào khu vực này!</h2>
    <p>Trang này chỉ dành cho Ban Quản Trị hệ thống.</p>
    <a href="/" class="btn btn-primary mt-3">Quay về Trang chủ</a>
</div>